<!-- @format -->

<nav class="nav-popup liquid-glass" id="navPopup" role="navigation" aria-label="Main Navigation">
	<a
		href="/gallery"
		class="liquid-glass button-link <%= currentPage === 'Gallery' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'Gallery' ? 'page' : 'false' %>"
		><span class="carved-glass">Gallery</span></a
	>
	<a
		href="/about"
		class="liquid-glass button-link <%= currentPage === 'about' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'about' ? 'page' : 'false' %>"
		><span class="carved-glass">About</span></a
	>
	<!-- <a
		href="/contact"
		class="liquid-glass button-link <%= currentPage === 'contact' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'contact' ? 'page' : 'false' %>"
		><span class="carved-glass">Contact</span></a
	> -->
	<a
		href="/vault"
		class="liquid-glass button-link <%= currentPage === 'Vault' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'Vault' ? 'page' : 'false' %>"
		><span class="carved-glass">Vault</span></a
	>
	<!-- <a
		href="/dashboard"
		class="liquid-glass button-link <%= currentPage === 'dashboard' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'dashboard' ? 'page' : 'false' %>"
		><span class="carved-glass">Dashboard</span></a
	> -->
</nav>
