<!-- @format -->

<nav class="nav-popup glass" id="navPopup" role="navigation" aria-label="Main Navigation">
	<a
		href="/index"
		class="glass button-link <%= currentPage === 'home' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'home' ? 'page' : 'false' %>"
		><span class="carved-glass">Home</span></a
	>
	<a
		href="/about"
		class="glass button-link <%= currentPage === 'about' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'about' ? 'page' : 'false' %>"
		><span class="carved-glass">About</span></a
	>
	<a
		href="/contact"
		class="glass button-link <%= currentPage === 'contact' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'contact' ? 'page' : 'false' %>"
		><span class="carved-glass">Contact</span></a
	>
	<a
		href="/shards"
		class="glass button-link <%= currentPage === 'shards' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'shards' ? 'page' : 'false' %>"
		><span class="carved-glass">Shards</span></a
	>
	<a
		href="/dashboard"
		class="glass button-link <%= currentPage === 'dashboard' ? 'hidden' : '' %>"
		aria-current="<%= currentPage === 'dashboard' ? 'page' : 'false' %>"
		><span class="carved-glass">Dashboard</span></a
	>
</nav>
