<!-- @format -->

<div class="shard-list">
	<% shards.forEach(shard => { %>
	<div class="shard-list-item">
		<div
			class="glass shard <%= shard.glow > 0 ? 'glow' : '' %>"
			data-shard-id="<%= shard.id %>"
			data-shard-text="<%= shard.text %>"
			data-shard-tint="<%= shard.tint %>"
			data-shard-glow="<%= shard.glow %>">
			<%= shard.id %>
		</div>
		<div class="glass shard-info hidden popped" data-shard-id="<%= shard.id %>">
			<span class="embossed-glass">Text: <%= shard.text %></span>
			<span class="embossed-glass">Tint: <%= shard.tint %></span>
		</div>
	</div>
	<% }) %>
</div>
